<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href={% static "img/lg.png" %} >

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href={% static "lib/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href={% static "lib/font-awesome/css/font-awesome.min.css"  %} rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href={% static "css/style.css" %} rel="stylesheet">
    <title>UCF Financial Advisors</title>

</head>
<body>
                    <center>WELCOME TO UCF FINANCIAL ADVISORY</center><br>



<br>
<center>Enhance your Investments with custom portfolio recommendations based on a complete personal financial health checkup.<center>

</body>
</html>

