{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>UCF Financial Advisors</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicon -->
  <link href={% static "img/lg.png" %} >

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href={% static "lib/bootstrap/css/bootstrap.min.css" %} rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href={% static "lib/font-awesome/css/font-awesome.min.css"  %} rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href={% static "css/style.css" %} rel="stylesheet">

  <!-- =======================================================
    Theme Name: FA_UCF
    Theme URL: https://bootstrapmade.com/bell-free-bootstrap-4-template/
    Author: M Alam
    Author URL:n/a
  ======================================================= -->
</head>

<body>
  <!-- Page Content
    ================================================== -->
  <!-- Hero -->

  <section class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12">
          <a class="hero-brand" href="index.html" title="Home"><img alt="UCF FA Logo" src={% static "img/lg.png"%}></a>
        </div>
      </div>

      <div class="col-md-12">
        <h1>
            Welcome to UCF Financial Advisory
          </h1>

        <p class="tagline">
          Build your portfolio with inimitable ROBO Advisory & Consultancy by UCF Financial Advisors
        </p>
        <a class="btn btn-full" href="register.html">Get Started Now</a>
      </div>
    </div>

  </section>
  <!-- /Hero -->

  <!-- Header -->
    <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="index.html"><img src={% static "img/lg.png"%} alt="" title="" /></static/img></a>
        <!-- Uncomment below if you prefer to use a text image -->

      </div>

          <nav id="nav-menu-container">
              <ul class="nav-menu">
                  <li><a href="#about">About Us</a></li>
                  <li><a href="financial_data.html">Features</a></li>
                  <li><a href="#portfolio">Portfolio</a>
                    <ul>
                      <li><a href="financial_data.html">Portfolio Holdings</a></li>
                      <li><a href="bad_news.html/">Potential Bad News</a></li>
                    </ul>
                  </li>
                  <li><a href="#team">Team</a></li>
                  <li class="menu-has-children"><a href="">Drop Down</a>
                      <ul>
                          <li><a href="https://finviz.com/published_map.ashx?t=sec&st=d1&f=103123&i=sec_d1_124163687">HeatMap</a></li>
                          <li class="menu-has-children"><a href="#">Stocks (Not yet Ready)</a></li>
                          <li><a href="#">Bonds (Not Yet Ready)</a></li>
                          <li><a href="#">ETFs (Not Yet Ready)</a></li>
                          <li><a href="#">Derivatives (Not Yet Ready)</a></li>
                      </ul>
                  </li>
                  <li><a href="#contact">Contact Us</a></li>
                <li><a href="register.html">Join Us</a></li>

                  {% if user.is_authenticated %}
                    <li><a href="logout">Log out </a></li>
                  {% else %}
                <li><a href="login.html">Log In </a></li>

                <li><a href="register.html">Register </a></li>
                  {% endif %}

              </ul>
          </nav>
          <!-- #nav-menu-container -->

          <nav class="nav social-nav pull-right d-none d-lg-inline">
              <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
          </nav>
          <!-- #header -->

  <!-- About -->

  <section class="about" id="about">
    <div class="container text-center">
      <h2>
          UCF ROBO Advisory

        </h2>

      <p>
        Here at UCF Financial Advisory we provide custom guidance to our clients with the help <br>
          of sophisticated ensambles engineered with state-of-the-art ML and AI algorithms.
          <br> Answer a few questions about yourself and let our Robo Advisory build a portfolio that fit just your budget, goals, and future.
      </p>

      <div class="row stats-row">
        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">420</span> Satisfied Customers
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">369</span> Portfolio > 20% return
          </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">444</span> New Clients
              </div>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span class="stats-no" data-toggle="counter-up">888</span> Diverse Asset Type
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /About -->
  <!-- Parallax -->

  <div class="block bg-primary block-pd-lg block-bg-overlay text-center" data-bg-img={% static "img/parallax-bg.jpg"%} data-settings='{"stellar-background-ratio":}06' data-toggle="parallax-bg">
    <h2>
         Welcome to UCF Robo Advisory
      </h2>

    <p>
      Robo-Advisory financial service - a state-of-the-art platform designed to evaluate individual financial scenarios and provide actionable insights and recommendations, all without the overhead and biases that come with human intermediaries.

        Just answer few questions & let our robo advisory guided by a team of talented advisors build your unique Portfolio.
    </p>
    <img alt="UCF FA - Inimitable Robo Advisory" class="gadgets-img hidden-md-down" src={% static "img/stock.jpeg"%}>
  </div>
  <!-- /Parallax -->
  <!-- Features -->

   <section class="features" id="features">
    <div class="container">
      <h2 class="text-center">
          Small, Mid, & Large Cap, ETFs, Mutual Funds, & Alternative Investments.
        </h2>

      <div class="row">
        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-rocket"></span>
              </div>
            </div>

            <div>
              <h3>
                  AI guided Investment Strategies
                </h3>

              <p>
                Sharpe Ratio based on Individual Assessments
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-envelope"></span>
              </div>
            </div>

            <div>
              <h3>
                  ROBO Advisory
                </h3>

              <p>
                AI & ML based Advisory guided by an experienced team.
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-bell"></span>
              </div>
            </div>

            <div>
              <h3>
                   Innovative Ideas
                </h3>

              <p>
               Robo Advisors guided by professional Portfolio managers, loaded with Innovative Ideas
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-database"></span>
              </div>
            </div>

            <div>
              <h3>
                  Good Documentation
                </h3>

              <p>
                blah blah blah
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-cutlery"></span>
              </div>
            </div>

            <div>
              <h3>
                  Excellent Features
                </h3>

              <p>
                __ What else do you want__
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-dashboard"></span>
              </div>
            </div>

            <div>
              <h3>
                 __ Secure Investment__
                </h3>

              <p>
                Cryptic Enhanced Security --Maybe?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Features -->
  <!-- Call to Action -->

  <section class="cta">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-sm-12 text-lg-left text-center">
          <h2>
              Join Us Today
            </h2>

          <p>
           Answer a few questions and let our Robo Advisor build the right portfolio for you.
          </p>
        </div>

        <div class="col-lg-3 col-sm-12 text-lg-right text-center">
          <a class="btn btn-ghost" href="register.html">Create Your Account</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /Call to Action -->
  <!-- Portfolio -->

  <section class="portfolio" id="portfolio">
    <div class="container text-center">
      <h2>
          Build your Portfolio today
        </h2>

      <p>
       Give a sense of armour to your Portfolio with  FX, SWAP, SWAPTION, Synthetic Borrowing, & many more hedging strategies.
      </p>
    </div>

    <div class="portfolio-grid">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src={% static "img/porf-1.jpg"%}>
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">

                  </h3>

                  <p class="card-text">
                    We can change/delete as we wish
                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src={% static "img/porf-2.jpg"%}>
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">

                  </h3>

                  <p class="card-text">
                      We can change/delete as we wish
                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src={% static "img/porf-3.jpg"%}>
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">

                  </h3>

                  <p class="card-text">
                       We can change/delete as we wish
                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src={% static "img/porf-4.jpg"%}>
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">

                  </h3>

                  <p class="card-text">
                       We can change/delete as we wish
                  </p>
                </div>
              </div></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
 <a href="#"><img alt="" src={% static "img/fx.png" %}>
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Hedging
                  </h3>

                  <p class="card-text">
                    Derivatives designed to yield a true return
                  </p>
                </div>
              </div></a>
          </div>
        </div>


        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src={% static "img/images.jpeg" %}>
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Synthetic Borrowing
                  </h3>

                  <p class="card-text">
                    Let us do the math while you enjoy the returns
                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src={% static "img/options.jpg" %}>
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    FX Trade
                  </h3>

                  <p class="card-text">
                   Take advantage of global economics with our Robo Advisors
                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src={% static "img/ss.png" %}>
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Hedge with Swap
                  </h3>

                  <p class="card-text">
Let our Robo Advisor chose the perfect match for your holdings

                  </p>
                </div>
              </div></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Portfolio -->
  <!-- Team -->

    <section class="team" id="team">
    <div class="container">
      <h2 class="text-center">
          Meet our team
        </h2>

      <div class="row">
        <div class="col-sm-3 col-xs-6">
          <div class="card card-block">
            <a href="#"><img alt="" class="team-img" src={% static "img/Jason.png" %}>
              <div class="card-title-wrap">
                <span class="card-title">Jason Guerra</span> <span class="card-text">Executive Director</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Connect with me
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
            </nav>

            <p>

            </p>
          </div>
          </a>
        </div>
      </div>

      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src={% static "img/R Leary.png" %}>
              <div class="card-title-wrap">
                <span class="card-title">Robert Leary</span> <span class="card-text">Managing Director</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Connect with me
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
          </nav>

          <p>

          </p>
        </div>
        </a>
      </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div class="card card-block">
        <a href="#"><img alt="" class="team-img" src={% static "img/Rick_A" %}>
              <div class="card-title-wrap">
                <span class="card-title">Wisvrick Amisial</span> <span class="card-text">Financial Director</span>
              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Connect with me
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
        </nav>

        <p>

        </p>
      </div>
      </a>
    </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div class="card card-block">
        <a href="#"><img alt="" class="team-img" src={% static "img/mukit.jpeg" %}>
              <div class="card-title-wrap">
                <span class="card-title">Mukit Alam</span> <span class="card-text">Portfolio Advisor</span>              </div>

              <div class="team-over">
                <h4 class="hidden-md-down">
                  Connect with me
                </h4>

                <nav class="social-nav">
                  <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
        </nav>

        <p>

        </p>
      </div>
      </a>
    </div>
    </div>
    </div>
    </div>
  </section>
  <!-- /Team -->
  <!-- @component: footer -->

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-title">Contact Us</h2>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
               <p>420 Fools Street<br>New York, NY 535022</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>info@ucfPortfolioAdvisory.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+1 888 000 420</p>
            </div>

          </div>
        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-xs-12 text-lg-left text-center">
            <p class="copyright-text">
              © UCF Financial Advisors
            </p>
            <div class="credits">
              <!--
                All the links in the footer should remain intact.
                You can delete the links only if you purchased the pro version.
                Licensing information: https://bootstrapmade.com/license/
                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Bell
              -->
             Designed by <a >UCF FA TEAM</a>
            </div>
          </div>

          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="index.html">Home</a>
              </li>

              <li class="list-inline-item">
                <a href="#about">About Us</a>
              </li>

              <li class="list-inline-item">
                <a href="#features">Features</a>
              </li>

              <li class="list-inline-item">
                <a href="#portfolio">Portfolio</a>
              </li>

              <li class="list-inline-item">
                <a href="#team">Team</a>
              </li>

              <li class="list-inline-item">
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer>
  <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a>


  <!-- Required JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js" ></script>
  <script src={% static "lib/jquery/jquery-migrate.min.js"%}></script>
  <script src={% static "lib/superfish/hoverIntent.js"%}></script>
  <script src={% static "lib/superfish/superfish.min.js"%}></script>
  <script src={% static "lib/tether/js/tether.min.js"%}></script>
  <script src={% static "lib/stellar/stellar.min.js"%}></script>
  <script src={% static "lib/bootstrap/js/bootstrap.bundle.min.js"%}></script>
  <script src={% static "lib/counterup/counterup.min.js"%}></script>
  <script src={% static "lib/waypoints/waypoints.min.js"%}></script>
  <script src={% static "lib/easing/easing.js"%}></script>
  <script src={% static "lib/stickyjs/sticky.js"%}></script>
  <script src={% static "lib/parallax/parallax.js"%}></script>
  <script src={% static "lib/lockfixed/lockfixed.min.js" %}></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src={% static "js/custom.js" %}></script>

  <script src={% static "contactform/contactform.js" %}></script>

</body>
</html>
